h1 {
    font-family: arial;
    font-size: 40px;
    margin-left: 30px;
}

.inputContainer {
    font-size: 20px;
    font-family: arial;
    margin-left: 45px;
}

input {
    font-size: 18px;
    font-family: arial; 
}

.itemNameMenu {
    font-size: 18px;
    font-family: arial; 
    margin-left: 50px;
    cursor:pointer;
    display:inline-block;
    margin-top:20px;
    border-bottom:none;
}

.itemNameMenu:hover {
    border-bottom:2px solid black;
}

.detailTitle {
    font-size: 30px;
    font-family: arial; 
    margin-left:80px;
}

.enchantDetail {
    font-size: 20px;
    margin-top:10px;
    font-family: arial; 
    cursor:pointer;
    margin-left:120px;
}

.smallText {
    display: inline-block;
    font-size: 16px;
}

#markdownInputContainer {
    margin-left:80px;
}

#markdownInput {
    width:150px;
}

#markdownInputDisplay {
    font-size: 20px;
    margin-top:10px;
    font-family: arial; 
    display:inline-block;
}

#lowballCost {
    color:rgb(0,0,120);
}

.similarContainer {
    background-color: rgb(180,180,180);
    border-radius: 18px;
    width:40vw;
}
.similarTitle {
    font-size: 25px;
    margin-left: 10px;
    margin-top:10px;
    cursor: pointer;
    font-family: arial; 
}

.similarPrice {
    font-size: 22px;
    margin-left: 10px;
    margin-top:5px;
    font-family: arial; 
}

.itemDifference {
    font-size: 18px;
    margin-left: 30px;
    margin-top:5px;
    font-family: arial; 
}

.medText {
    font-size: 25px;
    font-family: arial;
    margin-left: -10px;
}

#unreliableDisclaimer {
    color:rgb(120,0,0);
    font-size: 22px;
    font-family: arial;
}